#multi_name_flt {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    width: 80px;
    
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}

.div_min input[type="number"] {
    padding-left: 3px;
    padding-right: 3px;
}

.tabrowpar {
      white-space:nowrap; 
      margin-right:36px;
      height: 24px;
}

.div_setup .form-control {
    display: inline;
}
.div_separator hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

input[name='plot_this'] {
    height: 22px; 
    width: 22px;
}
    .height($(\'td p\').height()+3).width($(\'td p\').height()+3);')

#fileUploadModal .modal-dialog  {
  width: 97%;
}

#calcModal .modal-dialog  {
  width: 97%;
}


#downloadBatchColLineplot{
  margin-bottom: 10px;
}

.selectionsInfo {
  display: inline;
  margin-left: 20px;
  font-weight: bold;
}

#lnh_pos {
  width: 80px;
}

#legend_pos, #legend_ext_pos, #batch_what, #batch_how {
  width: 110px;
}


.table-inside-modal tr {
    height: 32px;
}

.table-center {
  text-align: center !important;
}

.dataTables_info {
  height:40px;
}

.DTTT_container {

  margin-left: 10px;

}


#pdf_x_size, #pdf_y_size, #grid_x_size, #grid_y_size {
  	width: 80px;
}

#img_clusters {
		width: 50px;
}

#img_clstmethod {
  	width: 128px;
}



.fileMoodalInnerDiv {
	height: 455px; 
	margin-right:10px; 
	width:100%; 
	overflow: visible;
}
.fileMoodalInnerDiv select {
	/* height: 100%; */ 
}


.load_div {
	background: grey;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.95;
    overflow: hidden;
}

#progressModal {
	 /* border: 5px solid navy; */
}

#plot_upstream, #plot_downstream, #anchored_downstream, #plot_type, .fTable {
	width: 100%;
}
/* #rm0div { */
/* 	height: 55px; */
/* 	display:box; */
/* 	box-orient:horizontal; */
/* 	box-pack:center; */
/* 	box-align:center; */
/* 	vertical-align:-50px; */
/* 	text-color: red; */
/* 	border: 1px solid red; */
/* } */

#modalToolbar {
	horizontal-align: left;
	text-align: left;
	height: 65px;
	
}

#modalToolbar select {
	width: 170px;
	
}

div.tab-content {
	overflow: visible !important;
}

input#filter_all {
	width: 200px;
	margin-right: 10px;
}
label[for="hsccoef"] {
    display: none;;
}

input#BWbin {
	width: 68px;
	display: inline;
	
}

#xmin1, #xmin2, #ymin1, #ymin2, #zmin1, #zmin2 {
	width: 80px;
	display: inline;
}

p > label {
	
	display: inline;
}




img {
    margin-top: 10px;
    width: 100%;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}

.zoom_image { 
      max-width: 100% !important;
      max-height: 120% !important;
      width: auto !important;
      cursor: -webkit-zoom-out !important; 
      cursor: -moz-zoom-out !important;
      position: fixed !important;
      top: 10px !important;
      left: 10px !important;
      margin-right: 0px !important;
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      z-index:3;
      border-style: dotted;
      border-width: 3px;
      border-color: grey;
}

#tutorial { 
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.8);
      text-align: center;
}

.popover {
    z-index: 110000;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

#tutorial > div {
    position: auto;
    margin: auto;
    width: 700px;
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;
    border-radius: 5px;
}

#tutorial > div > div {
    position: auto;
    margin: auto;
    width: 650px;

}

#tutorial img {
    position: auto;
    margin: auto;
    border: 0px solid red;
    height: 250px;
}

.carousel-indicators .active {
    background-color:black;
}
.carousel-indicators li {
    border-color: black;
}

th > span {
      position: relative;
}
table#plotTable > tbody > tr > td
{
	border: 1px solid black;
	height: 30px;
	min-width: 50px;
}
table#plotTable > thead > tr > th
{
	border: 1px solid black;
	border-top: 0px solid black;
	text-align: left;
	min-width: 50px;

}
th > span > span {
  /* Must remove span from normal flow in order to keep columns from widening */
  position: absolute;
  
  top: 1em; /* Firefox 3.5. Safari is reset below */
  -moz-transform: rotate(-65deg) skewX(0deg);
  -webkit-transform: rotate(-65deg) skewX(0deg);
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  border: 0px solid;
  border-left: 0px solid;
  padding: 0px;
  height: 26px;
  width: 200px;
  font-size: 12px;
  font-weight:normal;
  line-height:110%;
  overflow: hidden;
  word-wrap: break-word;
  /* Illustrate where it's at with color */
  /* background-color: yellow; */
  /* If one wants centered text, this is the place to reset it */
  /* From a design point of view it might not be desirable */
   text-align: left; 
}
/* CSS filter for Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0){
  th > span > span {
    top: 0;
  }
}
th > span > span > span {
  /* Rotate the text back, so it will be easier to read */
  -moz-transform: skewX(-0deg);
  /* Safari 4.0 beta won't skew back, so the next line is actually redundant right now */
  -webkit-transform: skewX(-0deg);
}



/* Animations */

/*@font-face {
  font-family: 'MyFont';
  src: url('RockSalt-webfont.eot');
  src: url('RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
       url('RockSalt-webfont.woff') format('woff'),
       url('RockSalt-webfont.ttf') format('truetype'),
       url('RockSalt-webfont.svg#RockSaltRegular') format('svg');
}*/

@font-face {
  font-family: 'MyFont';
  src: local('Audiowide'), local('Audiowide-Regular'), url(NewFont.woff) format('woff');
	/*src: local('Nova Square'), local('NovaSquare'), url(http://themes.googleusercontent.com/static/fonts/novasquare/v5/YsNHj2Yx5KzHzIjNe-czdLrIa-7acMAeDBVuclsi6Gc.woff) format('woff');*/
}

/* h1 { */
/* 	color:blue; */
/* 	margin:10px; */
/* 	margin-left:30px; */
/* 	font-family: 'Freckle Face', cursive; */
/* } */

.letter-container {
/* 	border-bottom: 0px dashed rgba(0,0,0,0.3); */
/* 	border-top: 0px dashed rgba(0,0,0,0.3); */

	height: 85px;
	width: auto;
	margin: 3px auto;
}
.letter-container h2 {
	text-align: left;
	font-family: 'MyFont', Arial, serif;
  margin: 0px;
	
	
	/* text-transform: uppercase; */
	letter-spacing: 1px;
}
.letter-container h2 a {
	text-align: left;
	padding: 20px;
	text-decoration:none;
}
.letter-container h2 a span {
	font-size: 72px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	color: #AAAAAA;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
	-webkit-mask-image: url(mask2.png);
	-moz-mask-image: url(mask2.png);
	-o-mask-image: url(mask2.png);
	mask-image: url(mask2.png);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	-webkit-animation: sharpen 0.6s linear backwards;
	-moz-animation: sharpen 0.6s linear backwards;
	-ms-animation: sharpen 0.6s linear backwards;
	animation: sharpen 0.6s linear backwards;
}
/* .letter-container h2 a span:hover{ */
/* 	color: #3f7f75; */
	
/* } */
/* .letter-container h2 a span:nth-child(1) { */
/* 	-webkit-animation-delay: 1.2s; */
/* 	-moz-animation-delay: 1.2s; */
/* 	-ms-animation-delay: 1.2s; */
/* 	animation-delay: 1.2s; */
	
/* } */
/* .letter-container h2 a span:nth-child(2) { */
/* 	-webkit-animation-delay: 0.1s; */
/* 	-moz-animation-delay: 0.1s; */
/* 	-ms-animation-delay: 0.1s; */
/* 	animation-delay: 0.1s; */
/* } */
/* .letter-container h2 a span:nth-child(3) { */
/* 	-webkit-animation-delay: 1s; */
/* 	-moz-animation-delay: 1s; */
/* 	-ms-animation-delay: 1s; */
/* 	animation-delay: 1s; */
/* } */
/* .letter-container h2 a span:nth-child(4) { */
/* 	-webkit-animation-delay: 0.3s; */
/* 	-moz-animation-delay: 0.3s; */
/* 	-ms-animation-delay: 0.3s; */
/* 	animation-delay: 0.3s; */
/* } */
/* .letter-container h2 a span:nth-child(5) { */
/* 	-webkit-animation-delay: 1.2s; */
/* 	-moz-animation-delay: 1.2s; */
/* 	-ms-animation-delay: 1.2s; */
/* 	animation-delay: 1.2s; */
/* } */
/* .letter-container h2 a span:nth-child(6) { */
/* 	-webkit-animation-delay: 0.5s; */
/* 	-moz-animation-delay: 0.5s; */
/* 	-ms-animation-delay: 0.5s; */
/* 	animation-delay: 0.5s; */
/* } */
/* .letter-container h2 a span:nth-child(7) { */
/* 	-webkit-animation-delay: 1.4s; */
/* 	-moz-animation-delay: 1.4s; */
/* 	-ms-animation-delay: 1.4s; */
/* 	animation-delay: 1.4s; */
/* } */
/* .letter-container h2 a span:nth-child(8) { */
/* 	-webkit-animation-delay: 0.7s; */
/* 	-moz-animation-delay: 0.7s; */
/* 	-ms-animation-delay: 0.7s; */
/* 	animation-delay: 0.7s; */
/* } */
/* .letter-container h2 a span:nth-child(9) { */
/* 	-webkit-animation-delay: 1.6s; */
/* 	-moz-animation-delay: 1.6s; */
/* 	-ms-animation-delay: 1.6s; */
/* 	animation-delay: 1.6s; */
/* } */
/* .letter-container h2 a span:nth-child(10) { */
/* 	-webkit-animation-delay: 0.9s; */
/* 	-moz-animation-delay: 0.9s; */
/* 	-ms-animation-delay: 0.9s; */
/* 	animation-delay: 0.9s; */
/* } */
/* .letter-container h2 a span:nth-child(11) { */
/* 	-webkit-animation-delay: 0.2s; */
/* 	-moz-animation-delay: 0.2s; */
/* 	-ms-animation-delay: 0.2s; */
/* 	animation-delay: 0.2s; */
/* } */
/* .letter-container h2 a span:nth-child(12) { */
/* 	-webkit-animation-delay: 1.1s; */
/* 	-moz-animation-delay: 1.1s; */
/* 	-ms-animation-delay: 1.1s; */
/* 	animation-delay: 1.1s; */
/* } */
/* .letter-container h2 a span:nth-child(13) { */
/* 	-webkit-animation-delay: 0.4s; */
/* 	-moz-animation-delay: 0.4s; */
/* 	-ms-animation-delay: 0.4s; */
/* 	animation-delay: 0.4s; */
/* } */
/* .letter-container h2 a span:nth-child(14) { */
/* 	-webkit-animation-delay: 1.3s; */
/* 	-moz-animation-delay: 1.3s; */
/* 	-ms-animation-delay: 1.3s; */
/* 	animation-delay: 1.3s; */
/* } */
/* .letter-container h2 a span:nth-child(15) { */
/* 	-webkit-animation-delay: 0.8s; */
/* 	-moz-animation-delay: 0.8s; */
/* 	-ms-animation-delay: 0.8s; */
/* 	animation-delay: 0.8s; */
/* } */
/* .letter-container h2 a span:nth-child(16) { */
/* 	-webkit-animation-delay: 1.5s; */
/* 	-moz-animation-delay: 1.5s; */
/* 	-ms-animation-delay: 1.5s; */
/* 	animation-delay: 1.5s; */
/* } */
@keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
   	opacity: 0;
   	text-shadow: 0px 0px 100px #444;
   	color: transparent;
 }
 90% {
   	opacity: 0.9;
   	text-shadow: 0px 0px 10px #444;
   	color: transparent;
 }
 100% {
    color: #444;
   	opacity: 1;
   	text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
